*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
    
  background-color: transparent; /* #c1bdba */
  font-family: 'Titillium Web', sans-serif;
  background-image: url(../img/bg.png);
    background-size: cover;
;}

a {
  text-decoration: none;
  color: #008dcc;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #0069cc;
}

.form {
  background: rgba(19, 35, 47, 0.9); 
  padding: 40px;
  max-width: 600px;
  margin: 100px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #0069cc;
  color: #ffffff;
}
.tab-group .active a {
  background: #008dcc;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

h2 {
    text-align: center;
    color: #008dcc;
    font-weight: 1000;
    margin: 0;
}

span {
    color: #008dcc;
    font-weight: bold;
}

p {
    text-align: center;
    color: #ffffff;
    margin: 0px 0px 50px 0px;
}

div.info {
    color: pink;
    display: box;
    text-align: center;
    padding: 5px;
    margin-top: -20px;
    margin-bottom: 15px;
    border: 1px solid red;
    background: #66131c;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #008dcc;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea, select {
  font-size: 22px;
  display: block;
  width: 100%;
 /* height: 35px;*/
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus ,select:focus {
  outline: 0;
  border-color: #008dcc;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #008dcc;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #0069cc;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
input[type=radio]{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    margin: 10px 20px;
    z-index: 5;
    opacity: 0;
    
}
.gen{
    color: rgba(255, 255, 255, 0.5);
}
#gen{
    color: rgba(255, 255, 255, 0.5);
    font-size: 22px;
}
select::-webkit-scrollbar{
    width: 10px;
}
select::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgba(0,0,0,.2);
}

.show-pass{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    color: #FFF;
    z-index: 999;
    cursor: pointer;
}
/*****************************
****Checkbox & Radio Style****
******************************/
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + lable:before{
    background-color: rgba(0,0,0,.2);
    border: 1px solid #ddd;
    content: "";
    display: inline-block;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
    vertical-align: middle;
}
input[type="checkbox"]:checked + lable:before{
    content: "\2713";
}

input[type="radio"] +lable:before{
    background-color: rgba(0,0,0,.2);
    border: 1px solid #ddd;
    border-radius: 50%;
    content: "";
    display: inline-block;
    text-align: center;
    font-size: 2.8em;
    line-height: 10px;
    width: 20px;
    height: 20px;
    margin: 0 0 0 20px;
    vertical-align: middle;
    color: #008dcc;
   
}

input[type="radio"]:checked + lable:before{
    content: "\2022";
    
}


@media only screen and (max-width:600px){
    .form{
        margin: 0;
        min-width: 300px;
        padding:  0px;
        
    }
}